{
  "presets": ["react-native"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "cwd": "babelrc",
        "alias": {
          "Assets": "./src/Assets",
          "Components": "./src/Components",
          "Config": "./src/Config",
          "Constants": "./src/Constants",
          "Helpers": "./src/Helpers",
          "Images": "./src/Images",
          "Navigation": "./src/Navigation",
          "Redux": "./src/Redux",
          "Themes": "./src/Themes",
          "I18N": "./src/I18N",
        },
        "extensions": [".ios.js", ".android.js", ".js", ".json"]
      }
    ]
  ]
}
